new/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Simone Gasperoni (OP Publications Office of the European Union) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:annotation>
		<xs:documentation xml:lang="en">This is the collection of the common components reused by the XML schema of each kind of notice. To avoid using each of the specific names of properties from the CDM, this schema makes use of "Placeholders" that represent groups of different kind of properties. Before validating, an XSLT trasformation replaces the specific names of the properties with the "Placeholders" (making use of the values of the attributes) in the XML instance to validate</xs:documentation>
	</xs:annotation>
	<xs:group name="property">
		<xs:annotation>
			<xs:documentation xml:lang="en">It groups all properties that can be used in a notice</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="p_name_literal"/>
			<xs:element ref="p_name_date"/>
			<xs:element ref="p_name_concept"/>
			<xs:element ref="p_name_concept_hierarchy"/>
			<xs:element ref="p_name.MEMBERLIST"/>
			<xs:element ref="p_name_rel"/>
		</xs:choice>
	</xs:group>
	<xs:group name="embedded-property">
		<xs:annotation>
			<xs:documentation xml:lang="en">It groups all properties that can be used in an embedded notice</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="p_name_literal">
				<xs:annotation>
					<xs:documentation>The name of the element is dynamic, this is not a real element name. The structure is set by the @type attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="p_name_date">
				<xs:annotation>
					<xs:documentation>The name of the element is dynamic, this is not a real element name. The structure is set by the @type attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="p_name_concept">
				<xs:annotation>
					<xs:documentation>The name of the element is dynamic, this is not a real element name. The structure is set by the @type attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="p_name_concept_hierarchy"/>
			<xs:element ref="p_name_embedded_rel">
				<xs:annotation>
					<xs:documentation xml:lang="en">An embedded relation cannot be extended anymore. It just gives the the identifiers of the target and occasional annotations on the link.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:group name="Identifier_with_URI_mandatory">
		<xs:annotation>
			<xs:documentation>It groups all properties to identify a resource with URI mandatory</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation xml:lang="en">The URI child element is mandatory, it must be a Cellar ID.</xs:documentation>
			</xs:annotation>
			<xs:element ref="URI"/>
			<xs:element ref="SAMEAS" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="Identifier">
		<xs:annotation>
			<xs:documentation>It groups all properties to identify a resource without URI mandatory</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation xml:lang="en">The URI child element is optional.</xs:documentation>
			</xs:annotation>
			<xs:element ref="URI" minOccurs="0"/>
			<xs:element ref="SAMEAS" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="t_property">
		<xs:annotation>
			<xs:documentation xml:lang="en">It groups all properties that describe a Literal</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="p_name_literal"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="Literal">
		<xs:annotation>
			<xs:documentation>Metadata related to a Literal, it consist of an XML serialization of a data type property</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VALUE" type="xs:anyType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Literal value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LANG" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Language of the Literal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotation_property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="type" use="required" fixed="annotation"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="type" use="required" fixed="data"/>
	</xs:complexType>
	<xs:complexType name="Relation">
		<xs:annotation>
			<xs:documentation>Metadata related to a Relation, it consists of an XML serialization of an object property</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="Identifier">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ideintifier of the link target</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="WORK" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded"/>
							<xs:group ref="embedded-property" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="EXPRESSION" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded"/>
										<xs:group ref="embedded-property" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="MANIFESTATION" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded"/>
													<xs:group ref="embedded-property" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="ITEM" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
																<xs:element ref="TYPE" maxOccurs="unbounded"/>
																<xs:group ref="embedded-property" minOccurs="0" maxOccurs="unbounded"/>
																<xs:element ref="TECHMD" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DOSSIER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded"/>
							<xs:group ref="embedded-property" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="EVENT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded"/>
										<xs:group ref="embedded-property" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AGENT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded"/>
							<xs:group ref="embedded-property" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EVENT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="TYPE" minOccurs="0" maxOccurs="unbounded"/>
							<xs:group ref="embedded-property" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute ref="type" fixed="link"/>
		<xs:assert test="if (boolean(WORK)) then (boolean(URI)) else true()" xpathDefaultNamespace="##targetNamespace"/>
		<xs:assert test="if (boolean(DOSSIER)) then (boolean(URI)) else true()" xpathDefaultNamespace="##targetNamespace"/>
		<xs:assert test="if (boolean(AGENT)) then (boolean(URI)) else true()" xpathDefaultNamespace="##targetNamespace"/>
		<xs:assert test="if (boolean(EVENT)) then (boolean(URI)) else true()" xpathDefaultNamespace="##targetNamespace"/>
	</xs:complexType>
	<xs:complexType name="Date">
		<xs:annotation>
			<xs:documentation>Metadata related to a Date, it consist of an XML serialization of a date</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VALUE" type="xs:string">
				<xs:annotation>
					<xs:documentation>Special values are used for unknown dates - 9999-12-31 - 0001-01-01</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YEAR" type="xs:gYear">
				<xs:annotation>
					<xs:documentation xml:lang="en">YYYY</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MONTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">format = MM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="12"/>
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DAY">
				<xs:annotation>
					<xs:documentation xml:lang="en">format = DD</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="31"/>
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="type" use="required" fixed="date"/>
	</xs:complexType>
	<xs:complexType name="Concept">
		<xs:annotation>
			<xs:documentation>Metadata related to a Concept, it consist of an XML serialization of a concept of an Authority table (for example a skos vocabulary)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="URI"/>
			<xs:element name="IDENTIFIER">
				<xs:annotation>
					<xs:documentation>The dc:identifier of the concept</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PREFLABEL">
				<xs:annotation>
					<xs:documentation>The preferred label of the classifying concept. The value may be empty if the label is not available in the decoding language of the NOTICE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FALLBACK" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">If the concept has no PREFLABEL value in the required decoding language, a fallback is given in an alternate (configurable) language.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="PREFLABEL">
							<xs:annotation>
								<xs:documentation>The language variant of the PREFLABEL</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LANG">
							<xs:annotation>
								<xs:documentation>The selected best match to provide a language variant of the PREFLABEL.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ALTLABEL" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A synonym for the PREFLABEL, actually occurs 0 or more times.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OP-CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="annotation_property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="type" use="required" fixed="annotation"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmbeddedRelation">
		<xs:annotation>
			<xs:documentation>Metadata related to the notices to embed, it consists of an XML serialization of the identifier of the properties to embed</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="Identifier">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ideintifier of the link target</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element ref="annotation_property" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="type" use="required" fixed="embedded_link">
			<xs:annotation>
				<xs:documentation xml:lang="en">embedded_link</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Level">
		<xs:annotation>
			<xs:documentation>Metadata related to a hierarchy of Concepts, it consists of an XML serialization of a collection of concepts from an Authority table (for example a skos vocabulary). This complexType describes the organization of different paths along the hierarchy as well</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="p_name_concept_hierarchy_path" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Placeholder that marks the occurrence of a path in the hierarchy of Concepts</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="p_name_concept_hierarchy_path_concept" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Placeholder that marks the occurrence of a Concepts inside the path</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="Concept">
										<xs:attribute name="type" type="types" use="required" fixed="concept_hierarchy_path_concept"/>
										<xs:attribute ref="leaf" use="required"/>
										<xs:attribute ref="level" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="type" type="types" use="required" fixed="concept_hierarchy_path"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="type" use="required" fixed="concept_hierarchy"/>
	</xs:complexType>
	<xs:complexType name="Memberlist">
		<xs:annotation>
			<xs:documentation>Metadata reletad to a hierarchy of Concepts, it consists of an XML serialization of a nested RDF list</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="p_name_concept"/>
			<xs:element ref="p_name_concept_hierarchy"/>
			<xs:element ref="p_name.MEMBERLIST"/>
		</xs:choice>
		<xs:attribute ref="type" use="required" fixed="memberlist"/>
	</xs:complexType>
	<xs:complexType name="URIType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Metadata related to an URI</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="VALUE">
				<xs:annotation>
					<xs:documentation xml:lang="en">The full URI value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The URI type, according to the cellar resource URI convention.
- Eurovoc concept references has URI prefix: 'http://eurovoc.europa.eu/
  The TYPE is EUROVOC
- NAL resources start with a base URI that ends with resource/authority/
  The next segment in the URI is the TYPE value
- Other content and metadata documents have a URI ending with resource/
  The next segment (not equal to 'authority') holds the TYPE

The value is percent decoded (URI %-decoding rules).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IDENTIFIER" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The remainder of the URI, following the TYPE segment.

The value is percent decoded (URI %-decoding rules).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="types">
		<xs:annotation>
			<xs:documentation xml:lang="en">It describes the kind of element making use of a set of keywords. This attribute is used during the schema validation. The name of the element will be replaced with a Placeholder (like p_name_rel, p_name_concept and so on) to avoid taking into account the specific names of the properties during the XSD validation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="date"/>
			<xs:enumeration value="concept_hierarchy"/>
			<xs:enumeration value="concept_hierarchy_path"/>
			<xs:enumeration value="concept_hierarchy_path_concept"/>
			<xs:enumeration value="concept"/>
			<xs:enumeration value="data"/>
			<xs:enumeration value="memberlist"/>
			<xs:enumeration value="link"/>
			<xs:enumeration value="embedded_link"/>
			<xs:enumeration value="annotation"/>
			<xs:enumeration value="type"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="p_name_concept_hierarchy" type="Level">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder that marks the occurrence of a hierarchy of Concepts</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="p_name.MEMBERLIST" type="Memberlist">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder that marks the occurence of a Memberlist
A memberlist can have a nested structure (NESTEDLIST element) as well as references to classification properties.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="p_name_literal" type="Literal">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder that marks the occurence of a Literal</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="p_name_concept">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder that marks the occurence of a Concept</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Concept">
					<xs:attribute ref="type" use="required" fixed="concept"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="p_name_date" type="Date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder that marks the occurence of a Date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="p_name_rel" type="Relation">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder that marks the occurence of a Relation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="p_name_embedded_rel" type="EmbeddedRelation">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placeholder that marks the occurence of an EmbeddedRelation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotation_property">
		<xs:annotation>
			<xs:documentation>Placeholder that marks the occurence of an annotation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="types" use="required" fixed="annotation"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="URI" type="URIType">
		<xs:annotation>
			<xs:documentation>URI is the Cellar ID of the resource</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TECHMD">
		<xs:annotation>
			<xs:documentation>TECHMD contains technical metadata for the items</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="t_property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SAMEAS">
		<xs:annotation>
			<xs:documentation>SAMEAS is the Production System URI of the resource</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="URI">
					<xs:annotation>
						<xs:documentation>Generic URI</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TYPE">
		<xs:annotation>
			<xs:documentation>This element represents the serialization of the property rdf:type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="types" use="required" fixed="type"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="display">
		<xs:annotation>
			<xs:documentation>This attribute is set to true to point out the Expression for a given Branch notice</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="leaf" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">This attribute is set to true to point out that the concept is the most specific (least abstract) in the hierarchy</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="level" type="xs:integer">
		<xs:annotation>
			<xs:documentation>This attribute shows the level of abstraction of the concept inside the hierarchy</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="type" type="xs:string"/>
</xs:schema>
